[Desktop Entry]
Version=1.0
Name=Macaw-Movies
Name[ca]=Macaw-Movies
Name[ca@valencia]=Macaw-Movies
Name[es]=Macaw-Movies
Name[gl]=Macaw-Movies
Name[nl]=Macaw-Movies
Name[pt]=Filmes-Macaw
Name[pt_BR]=Macaw-Movies
Name[ru]=Macaw-Movies
Name[sk]=Macaw-Movies
Name[uk]=Macaw-Movies
Name[x-test]=xxMacaw-Moviesxx
GenericName=Media player
GenericName[ca]=Reproductor multimèdia
GenericName[ca@valencia]=Reproductor multimèdia
GenericName[cs]=Přehrávač médií
GenericName[es]=Reproductor multimedia
GenericName[gl]=Reprodutor multimedia
GenericName[nl]=Mediaspeler
GenericName[pt]=Leitor multimédia
GenericName[pt_BR]=Reprodutor de mídia
GenericName[ru]=Мультимедийный проигрыватель
GenericName[sk]=Prehrávač médií
GenericName[uk]=Мультимедійний програвач
GenericName[x-test]=xxMedia playerxx
Comment=Organize your movie collection.
Comment[ca]=Organitza la vostra col·lecció de pel·lícules.
Comment[ca@valencia]=Organitza la vostra col·lecció de pel·lícules.
Comment[es]=Organice su colección de películas.
Comment[gl]=Organice a súa colección de películas.
Comment[nl]=Uw filmcollectie organiseren
Comment[pt]=Organize a sua colecção de filmes.
Comment[pt_BR]=Organize sua coleção de filmes.
Comment[ru]=Управляйте своей коллекцией фильмов
Comment[sk]=Organizovať vašu zbierku filmov.
Comment[uk]=Упорядкуйте вашу збірку відео.
Comment[x-test]=xxOrganize your movie collection.xx
Exec=/usr/bin/macaw-movies
Icon=macaw-movies
Terminal=false
Type=Application
Categories=AudioVideo;
MimeType=
Keywords=Organizer;Video;Movies;
Keywords[ca]=Organitzador;Video;Pel·lícules;
Keywords[ca@valencia]=Organitzador;Video;Pel·lícules;
Keywords[es]=Organizador;Vídeo;Video;Películas;
Keywords[gl]=Organizer;Organizador;Video;Vídeo;Movies;Películas;Filmes;
Keywords[nl]=organisator;Video;Films;
Keywords[pt]=Organizador;Vídeo;Filmes;
Keywords[pt_BR]=Organizador;Vídeo;Filmes;
Keywords[ru]=Organizer;Video;Movies;видео;ролики;фильмы;
Keywords[sk]=Organizér;Video;Filmy;
Keywords[uk]=Organizer;Video;Movies;упорядкування;відео;фільми;серіали;
Keywords[x-test]=xxOrganizerxx;xxVideoxx;xxMoviesxx;
